
// colors

$primary-color: #E66353;
$secondary-color: #9D9E5E;
$tertiary-color: #623D22;

* {
    background-color: white;
    font-family: 'Outfit';
    color: $tertiary-color;
}

// header 

.only-btn {
    
    margin: 40px;
    display: flex;
    justify-content: flex-end;

    .btn-home{
    background-color: transparent;
    font-family: 'Outfit';
    color: $primary-color;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    transition: none;
    }

    .btn-aboutMe{
    background-color: transparent;
    font-family: 'Outfit';
    color: $primary-color;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    }

    .btn-services{
    background-color: transparent;
    font-family: 'Outfit';
    color: $primary-color;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    }

    .btn-date{
    background-color: $primary-color;
    font-family: 'Outfit';
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    padding: 12.857px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 24.107px;
    }
}

//Home-page

img.logo {
    margin: 40px;
}

img.ilustration {
    background: transparent;
    position: relative;
    right:620px;
    top: 10px;
}

div.basicInformation{

    display: flex;
    flex-direction: column;

    h1 {
color: #623D22;
font-family: Outfit;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: 112.5%; /* 40.5px */
letter-spacing: 0.72px;
}

    p{
    margin-top: -16px;
    }
}

