// colors


$primary-color: #E66353;
$secondary-color: #9D9E5E;
$tertiary-color: #623D22;

* {
    background-color: white;
    font-family: 'Outfit';
    color: $tertiary-color;
    margin: 16px 16px 16px 16px;
}

// header 

.only-btn {

    margin: 0 0 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .btn-home {
        background-color: transparent;
        font-family: 'Outfit';
        color: $primary-color;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        transition: none;
    }

    .btn-aboutMe {
        background-color: transparent;
        font-family: 'Outfit';
        color: $primary-color;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
    }

    .btn-services {
        background-color: transparent;
        font-family: 'Outfit';
        color: $primary-color;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
    }

    .btn-date {
        background-color: $primary-color;
        font-family: 'Outfit';
        color: white;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        padding: 12.857px 16px;
        justify-content: center;
        align-items: center;
        border-radius: 24.107px;
    }
}

//Home page - Firts part 

.logos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

img.completeLogo {
    background: transparent;
    position: relative;
    right: 620px;
    top: 10px;
}

div.basicInformation {

    display: flex;
    flex-direction: column;

    h1 {
        color: #623D22;
        font-family: Outfit;
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: 112.5%;
        /* 40.5px */
        letter-spacing: 0.72px;
        //layout
        width: 501px;
    }

    p {
        margin-top: -16px;
        //layout
        width: 475px;
    }
}

//Services 

div.therapy {
    display: flex;
    flex-direction: column;
}

//Tittle and line 

.allServices {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-align: center;
        font-family: Outfit;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    img.line {
        width: 586.557px;
        height: 24.918px;
        stroke-width: 3px;
    }

}

//Information about therapy


.infoT {
    display: flex;
    flex-direction: column;


    h2 {
        color: $tertiary-color;
        font-family: Outfit;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.72px;
        position: relative;
        right: -151px;
    }

    p {
        color: #333;
        text-align: center;
        font-family: Outfit;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.64px;
        //layout
        width: 635px;
        height: 122px;
        flex-shrink: 0;
    }

}

.imgTherapy {
    width: 288px;
    height: 288px;
    flex-shrink: 0;
    position: relative;
    left: 30px;
    top: 50px;
}


.btn-therapy {
    background-color: transparent;
    color: $primary-color;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-align: center;
    font-family: Outfit;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    /* 62.5% */
    letter-spacing: 0.64px;
}

//Information about workshops

.workshops {

    h2 {
        color: $tertiary-color;
        text-align: center;
        font-family: Outfit;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.72px;
    }

        p {
            color: #333333;
            text-align: center;
            font-family: Outfit;
            font-size: 32px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 0.64px;
            //layout
            width: 635px;
            height: 119px;
            flex-shrink: 0;
        }
        }

.btn-workshops {
        background-color: transparent;
        color: $primary-color;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        text-align: center;
        font-family: Outfit;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: 20px;
        /* 62.5% */
        letter-spacing: 0.64px;
    }

// Resume about psicologyst 

.resume {
    display: flex;
    flex-direction: column;
}

div.iconsInformation {
    display: flex;
}

.flowerBackground {
    width: 100%;
    margin: 0;
}